<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Home{% endblock %} | M4C Rating</title>
    {% block css %}
    <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('font-awesome/css/font-awesome.min.css') }}">
    {% endblock %}
    {% block js %}
    <script src="{{ asset('js/lib/jquery.min.js') }}"></script>
    <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
    {% if app.environment == "dev" %}
        <script src="//localhost:35729/livereload.js"></script>
    {% endif %}
    {% endblock %}
</head>
<body>
    {% block nav %}
    <div class="nav">
        <div class="header">
            <h1><a href="{{ path('page_index', {'version': version}) }}">Maplets for Calculus</a></h1>
        </div>
        <div class="container">
            {% block mapletName %}{% endblock %}
        </div>
    </div>
    {% endblock %}
    <div class="container">
        <div class="header">
            {% block header %}{% endblock %}
        </div>
        <div class="main">
            {% block main %}{% endblock %}
        </div>
    </div>
    {% block footer %}
    <div class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <p class="navbar-text">Copyright &copy; {{ "now"|date("Y") }} by Maplets for Calculus | Programmed and Designed by Parth Sarin</p>
        </div>
    </div>
    {% endblock %}
</body>
</html>
