{% extends 'MFCRatingsBundle::layout.html.twig' %}

{% block header %}
{% endblock %}

{% block title %}{{ maplet.name }}{% endblock %}

{% block mapletName %}
	<h2>Evaluating: {{ maplet.name }}</h2>
{% endblock %}

{% block main %}
	{{ form_start(form) }}
		<div class="form-group col-md-6">
			{{ form_row(form.role, { 'label': 'Are you a student or an instructor?' }) }}
		</div>
		<div class="col-md-12">
			<div class="form-group">
				{{ form_row(form.continue) }}
			</div>
		</div>
	{{ form_end(form) }}
{% endblock %}