{% extends 'MFCRatingsBundle::layout.html.twig' %}

{% block title %}{{ maplet.name }}{% endblock %}

{% block js %}
{{ parent() }}
<script>
$(document).ready(function() {
	var studentTeacher = $('select#mfc_bundle_ratingsbundle_studentrating_timeEval').val()
	if (studentTeacher == "before") {
		$('.usefulFuture').show();
		$('.usefulPast').hide();
	} else {
		$('.usefulFuture').hide();
		$('.usefulPast').show();
	}
});
</script>
{% endblock %}

{% block mapletName %}
	<h2>Evaluating: {{ maplet.name }}</h2>
{% endblock %}

{% form_theme form _self %}
{% block form_row %}
	<div class="form-group">
		{{ form_label(form) }}
		{{ form_errors(form) }}
		{{ form_widget(form) }}
	</div>
{% endblock %}

{% block main %}
	{{ form_start(form) }}	
		{{ form_row(form.timeEval) }}
		{{ form_row(form.learnt) }}
		<div class="usefulPast hideNonUseful">
			{{ form_row(form.usefulPast) }}
		</div>
		<div class="usefulFuture">
			{{ form_row(form.usefulFuture) }}
		</div>
		{{ form_row(form.comments) }}
		{{ form_row(form.submit) }}

	{{ form_end(form) }}
{% endblock %}